@{
    ViewBag.Title = "About";
}
<h2 class="text-center">@ViewBag.Title.</h2>
<br />

<p class="text-center">
    &nbsp;<span class="auto-style2"><em><strong>Hotel Reservation System is the largest online hotels booking engine in India. Hotel Reservation System is also the number one ranked website under the travel category. HRS core value differentiator is delivery of the fastest and the most trusted user experiences, be it in terms of quickest search and booking, fastest payments, settlement and refund processes. HRS has grown its hotels booking volumes by 5x in 2015 over the previous year. </strong></em></span>
</p>
