@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Suggestions</h3>

<address>
    Kumar Chandrachooda<br />
    Bangalore<br />
    <abbr title="Phone">Phone :</abbr>
    +91 7795356089
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:kc58627@gmail.com">kc58627@gmail.com</a><br />
    
</address>